<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add connectionString="Server=SRVTEST\SQL;database=DAtaBase;user=test;pwd=qwerty1234" name="Connection"/>

      <add name="MyFirstDB" connectionString="Server=SRVTEST\SQL;Database=MyFirstDB;User ID=test;Password=qwerty1234"/>
      </connectionStrings>
 
</configuration>